html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  height: 239px;
  position: relative;
}

.robot {
  width: 320px;
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.robot:hover .robot-head-right {
  position: absolute;
  left: 190px;
  top: 10px;
}

.robot:hover .robot-head-left {
  position: absolute;
  left: 5px;
  top: 10px;
}

.robot:hover .robot-brain {
  position: absolute;
  left: 137px;
  top: 40px;
}

.robot-body {
  width: 320px;
  position: absolute;
  top: 3.4em;
}

.robot-brain {
  position: absolute;
  width: 46px;
  left: 137px;
  top: 60px;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  top: 1em;
}

.robot-head-right {
  left: 160px;
}

.robot-head-left {
  left: 35px;
}
